<div class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="font-weight-light">Rechercher un utilisateur :</h1>

                <form action="/accueil/search" class="form-inline my-2 my-lg-0 justify-content-center">
                      <input name="term" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h2 class="font-weight-light">Page Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
      </div>
    </section>